<div id="footer">
    <div class="logo"><img src="../assets/images/robotixLogo.png" alt=""></div>
    <div class="links">
        <div class="link"><a href="login">RECRUITMENT</a></div>
        <div class="link"><a href="about">ABOUT</a></div>
        <div class="link"><a href="event">EVENT</a></div>
        <div class="link"><a href="contact">CONTACT</a></div>
        <div class="link"><a href="#">Terms of Service</a></div>
        <div class="link" id="last"><a href="#">NIT RAIPUR</a></div>
    </div>
    
    <div class="copyright">Copyright © 2021. All Rights Reserved By Robotix Club</div>
</div>
