<div id="about-section">
  <div class="about-countainer">
    <div class="arduino-image"> <div class="img-stiky"><img  class="img-stiky controllable"src="../assets/images/arduino.png" alt="about"></div></div>
    <div class="content">
      <div class="head">A Few Words About Us</div>
      <div class="header">Who are we ??</div>
      <p>The Robotix Club of NIT Raipur is the perfect combination of innovators, contributors and experts in the field of Robotics. The club has been inspiring minds ever since its inception in 2014. The foundation of Robotix Club was laid by a group of enthusiastic and ardent students with a vision to promote the versatile field of robotics and it’s ever growing application in present time. We make sure that every student seeking the knowledge gets it .The club is guided by our esteemed faculty In charge Dr. Rajesh Doriya (Department of Information Technology) who makes sure there is proper functioning of the club.</p>
      <div class="header">Our Vision</div>
      <p>Robotix Club NITRR strives to develop technological skills in the diverse field of mechatronics and robotics by transcending the theoretical knowledge into live application and providing live simple yet creative solution for real world complex problems. The club's focus has always been on student specific events and workshops to increase the reach of robotics in the college. Major part of the club has been involved with students as well as teachers working together as a cohesive unit.</p>
      
      <div class="counter">

        <div class="box">
          <div class="member-img"><img src="../assets/counter/counter1.png" alt="member"></div>
          <div class="count ab-header">{{counter1}}</div>
          <div class="member-text">TOTAL MEMBERS</div>
        </div>

        <div class="box">
          <div class="event-img"><img src="../assets/counter/counter2.png" alt="event"></div>
          <div class="count ab-header">{{counter2}}</div>
          <div class="event-text">EVENT</div>
        </div>

        <div class="box">
          <div class="domain-img"><img src="../assets/counter/counter3.png" alt="domin"></div>
          <div class="count ab-header">{{counter2}}</div>
          <div class="domain-text">Domain</div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- <section class="client">
	<div class="container">
		<div class="row">

			<div class="section-title">
				<h2> OUR PAST SPONSERS </h2>
			</div>
		</div>
	</div>

  <carousel [objectFit]="'cover'" [cellWidth]="'100%'" [height]="300" [borderRadius]="10" [arrowsOutside]="false" [autoplay]="true" [loop]="true" [autoplay]="true" [autoplayInterval]="10000" [cellsToShow]="1" [dots]="true"> 
    <div class="carousel-cell">
      <img src="https://mariongrandvincent.github.io/HTML-Personal-website/img-codePen/slider-logo1.png" alt="">
    </div>
    <div class="carousel-cell">
      <img src="https://mariongrandvincent.github.io/HTML-Personal-website/img-codePen/slider-logo1.png" alt="">
    </div>
    <div class="carousel-cell">
      <img src="https://mariongrandvincent.github.io/HTML-Personal-website/img-codePen/slider-logo1.png" alt="">
    </div>
    <div class="carousel-cell">
      <img src="https://mariongrandvincent.github.io/HTML-Personal-website/img-codePen/slider-logo1.png" alt="">
    </div>
    <div class="carousel-cell">
      <img src="https://mariongrandvincent.github.io/HTML-Personal-website/img-codePen/slider-logo1.png" alt="">
    </div>
    <div class="carousel-cell">
      <img src="https://mariongrandvincent.github.io/HTML-Personal-website/img-codePen/slider-logo1.png" alt="">
    </div>
    <div class="carousel-cell">
      <img src="https://mariongrandvincent.github.io/HTML-Personal-website/img-codePen/slider-logo1.png" alt="">
    </div>
    <div class="carousel-cell">
      <img src="https://mariongrandvincent.github.io/HTML-Personal-website/img-codePen/slider-logo1.png" alt="">
    </div>
  </carousel>


</section> -->





<div id="team" id="toteam">
  <div class="team-countainer">
    <div class="robo"><img src="../assets/images/robot2.png" alt=""></div>
    <div class="team-content">
      <div class="head">Meet our most valued</div>
      <div class="header">Team Members</div>
      <div class="team-text"><p>Our team of creative programmers, marketing experts, designers, sponsors, tech enthusiasts. We are doing what we love.</p></div>
      <div class="container">
        <div class="card">
            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="image">
            <div class="layer" style="--color:#000000b3" >
                <h6>
                  Ray Jhonson
                  <br>
                  Senior Developer

                </h6>
                
            </div>
            
        </div>
        <div class="card">
            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="image">
            <div class="layer"style="--color:#000000b3">
              <h6>Serena Whatson
                <br>
                UI/UX Designer
              </h6>
            </div>
        </div>
        <div class="card">
            <img src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="image">
            <div class="layer"style="--color:#000000b3">
              <h6>Dave Serene
                <br>
                CEO
              </h6>
            </div>
        </div>

    </div>
    </div>
  </div>

  
  
</div>