.about-bg{
    width: 100%;
 background:rgb(49,55,125);
   display: flex; 
   justify-content: center;
padding-top: 5em;
padding-bottom: 5em;
   
}
.about-container{
background-color: rgba(240, 248, 255, 0.752);
padding: 2em;
max-width: 80vw;
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 0.5rem;
border-radius: 20px;
box-shadow: 10px 13px 10px 5px #474646;
}
@media screen and (max-width: 992px) {
    .about-container{
        flex-direction: column;
        }
  }
.about-img-center{
   width: 40%;
   max-width: 350px; 
   align-self: center;
   margin-left: 1em;
}
.about-img{
    width: 100%;
    height: max-content;
    align-items: center;
}
.about-context{
    width: 70%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.ab-start{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1em;
    margin-top: 1em;
    transform: translate(-5.5em, 0);
}
.ab-head{
    font-size: 2.5em;
    font-weight: 600;
}
.ab-text{
    margin: 1px;
    padding: 1px;
    width: 90%;
}
@media screen and (max-width: 992px) {
    .about-container{
        flex-direction: column;
        }
        .about-img-center{
            width: 60%;}
        .ab-start{
            
            transform: translate(0, 0);
        }
        .about-context{
            width: 100%;
            margin: 2em;
        }
  }
.counter{
 max-height: 60px ;
   min-height: 50px;
   max-width: 100%;
   display: flex;
   margin-bottom: 1em;
   
}
.line{
    border-right: 5px solid rgb(75, 71, 195);
}
.count{
    margin-top: 1em;
    display: flex;
}
.count-1,.count-2,.count-3{ 
}
.count-no{
    font-size: 2.5em;
    font-weight: 600;
}
.count-name{
    margin-top: 1rem;
}


@media screen and (max-width: 600px) {
    .counter{
   
    }
    .line{  border-right: 1px solid rgba(255, 255, 255, 0);}
    .count-1,.count-2,.count-3{ 
        height: 2em;
    }

    .count-no{
        font-size: 2em;
        font-weight: 600;
    }
    .count-name{
        margin-top: 0.5em;
        font-size: 0.8em;
    }

}
@media screen and (max-width: 400px) {
    .counter{
   justify-content: space-between;
   justify-content: space-around;
   margin-left: -2em;
    }
    .count-1,.count-2,.count-3{ 
        display: none;
    }

}