*{
  font-family: "Josefin Sans", sans-serif;
  font-style: italic;
  font-weight: bold;
  
}



.spacer{
    flex: 1 1 auto;
}
a{
    margin: 20px;
}
/* ================================================================ */  
.navbox{
  height: 0;
  
}
  .nav {
    margin: 0;
    z-index: 999;
    padding: 1em;
    /* background-color: #f7f7f700;
    background: rgb(24,31,144);
background: linear-gradient(126deg, rgba(24,31,144,1) 3%, rgb(82, 55, 145) 23%, rgb(108, 36, 180) 53%, rgba(139,41,156,1) 95%); */
   backdrop-filter: blur(2px);
   position: sticky;
   top: 0;
    height: 30px;
    display: flex;
    justify-content: center;
  }
.nav-title{
  position: relative;
   height: 50px;
   top: -10px;
}
.nav-space{
  width: 20vw;
}
@media (max-width:980px) {
  .nav-space{
    width: 0vw;
  }
}
@media (max-width:850px) {
  .nav-space{
    width: 80vw;
  }
}
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fafafa;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
    top: -10px;
    transform: translateY(-28px);
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #ffffff;
  }
  
  .nav > .nav-links > a:hover {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;

  }
  
  @media (max-width:850px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
      height: 100%;
     overflow: hidden;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 1.5em 1em 0 ;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.481);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #33313587;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-x: hidden;
      top: 80px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width:90%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(50vh);
      overflow-y: auto;
      margin: 0.1 ;
    }
  }