<div fxLayoutAlign = "center center" fxFlexFill>
    <mat-card fxFlex = "25">
      <mat-card-header fxLayoutAlign = "center">LOGIN</mat-card-header>
        <form fxLayoutAlign = "stretch" fxLayout = "column" [formGroup]= "loginform" (ngsubmit)="onLogin()">
            <mat-form-field>
              <input matInput name = "userName" [(ngModel)]="loginObj.userName" placeholder="Username" formControlName="email">
            </mat-form-field>

            <mat-form-field>
                <input matInput name = "password" type = "password" matInput [(ngModel)]="loginObj.password" placeholder="password" formControlName="password">
            </mat-form-field>

           <div>
            <button mat-button type = "submit" (click) = "onLogin()">Login</button>
            <!-- <button mat-button (click) = "gotosingup()">sing-up</button>   -->
           </div>
          </form>
          
    </mat-card>
</div>
