<!-- fxLayoutAlign = "center center" -->
<div class="login-bg"  fxFlexFill>
    <mat-card class="log-body" fxFlex = "25">

      <mat-card-header class="log-head" fxLayoutAlign = "center">LOGIN</mat-card-header>
        <form fxLayoutAlign = "stretch" fxLayout = "column" [formGroup]= "loginform" (ngsubmit)="onLogin()">
           
            <mat-form-field>
              <input matInput name = "userName" [(ngModel)]="loginObj.userName" placeholder="Username" formControlName="email">
            </mat-form-field>

            <mat-form-field>
                <input matInput name = "password" type = "password" matInput [(ngModel)]="loginObj.password" placeholder="password" formControlName="password">
            </mat-form-field>

           <div>
            <button class="log-bt" mat-button type = "submit" (click) = "onLogin()">Login</button>
            <!-- <button mat-button (click) = "gotosingup()">sing-up</button>   -->
           </div>
          </form>
          
    </mat-card>


<!--  svg================================================ -->

<!--  svg================================================ -->


</div>
