/* =====svg=========================================================== */

.contact-wave {
    position: relative;
    top:0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    height: 900px;
}

.contact-wave svg {
    position: relative;
    display: block;
    width: calc(128% + 1.3px);
    height: 263px;
}

.contact-wave .shape-fill {
    fill: #ffffffb4;
}




.contact-wave2 {
    position:relative;
    bottom: -20px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    height: 860px;
}

.contact-wave2 svg {
    position: relative;
    display: block;
    width: calc(128% + 1.3px);
    height: 291px;
}

.contact-wave2 .shape-fill {
    fill: rgb(32,35,66);
}
/* ================================================================ */
.contact-head{
   background-image: url(src\assets\images\account-bg.jpg);
   /* src\assets\images\account-bg.jpg */
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
.contact-head-text{
    transform: translate(0,-100px);
    color: azure;
    font-size: 3em;
    font-weight: 600;
    
}
.contact-body{

}
.contact-contaner{
    /* background-color: rgb(45, 31, 89); */
    display: flex;
    justify-content: center;
    align-items: center;

}
.c-form-center{
   
    background: #323232;
    box-shadow: 0px 11px 19.2px 0.8px rgba(66, 58, 232, 0.1);
    border-radius: 5px;
    width: 600px;
    margin: 3em;
    display: flex;

    justify-content: center;
    align-items: center;
}
.form-head{
    margin: 0.9em;
    color: azure;
    color: #bdb9f0;
    font-size: 2rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
}
p{  
    color: aliceblue;
    font-size: 1.5em;
}
.fill{ width: 100%;
}
.message{
    height: 200px;
}
.c-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2em;
    width: 100%;
}


.MESSAGE-bt{
 background-color: rgb(133, 44, 216);
   border-radius: 3em;
   width: 170px;
   padding: 1em;
    color: azure;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 2rem;

    background: rgb(24,31,144);
    background: linear-gradient(126deg, rgba(24,31,144,1) 3%, rgba(90,64,149,1) 23%, rgba(115,47,183,1) 53%, rgba(139,41,156,1) 95%);
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 992px){
    .c-img{
     display: none;
    }
}
.contact-q{
    /* border: 1px solid  rgb(45, 31, 89);
    background-color: rgb(45, 31, 89); */
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.c-contaner{ 
    border-radius: 30px;
    background-color: rgba(240, 248, 255, 0.785);
    padding: 1em;
   margin-top: 2em;
    display: flex;
    flex-direction: column;
    
}
.c-line{
    
    margin: 1em; 
}
.f{
    display: flex;
    flex-direction: row;
}
.c-l {
    color: #404044;
}
.h{
    color: black;
font-size: 2em;
font-weight: 400;
}
.hh{
    color: black;
    font-weight: 600;
    font-size: 3em;
}
/* ================================================================` */
.footer {
    margin-top: 5em;
    position: relative;
    top: -2px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    background-image: url(../../assets/images/page-header.png);  
}

.footer svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 255px;
    background: rgb(24,31,144);
    background: linear-gradient(90deg, rgba(24,31,144,1) 3%, rgba(90,64,149,1) 23%, rgba(115,47,183,1) 53%, rgba(139,41,156,1) 95%);
}

.footer .shape-fill {
    fill: rgb(32,35,66);
}
/* src/assets/images/page-header.png */
@media screen and (max-width: 500px){
    .footer svg {
   
        width: calc(100% + 1.3px);
        height: 62px;
    }
}
