
<div class="contact-head">
   
   <div class="contact-wave">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
  </svg>
  </div>
  <div class="contact-wave2">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
  </svg>
</div>

  <div class="contact-head-text">Contact Robotix Club</div>
</div>





<div class="contact-body">
 <div class="contact-contaner">

   <div class="c-form-center">
    <div class="c-form">
        <div class="form-head">Get in Touch</div>
        <p>Your Full Name</p>
  <p>
    <mat-form-field class="fill" appearance="fill">
      <mat-label>Enter your full Name</mat-label>
      <input matInput placeholder="Name">
    </mat-form-field>
  </p>
  <p>Your Email</p>
  <p>
    <mat-form-field class="fill" appearance="fill"> 
      <mat-label>Enter Your Email</mat-label>
      <input matInput placeholder="Email">
    </mat-form-field>
  </p>
  <p >Your Message</p>
  <p>
    <mat-form-field class="fill message" appearance="fill"> 
      <mat-label>Enter Your Message</mat-label>
      <input matInput placeholder="Message">
    </mat-form-field>
  </p>
  <div class="MESSAGE-bt ">SEND MESSAGE</div>
  
    </div>
    </div>
       <div class="c-img">
        <img  class="mainRobot" src="assets/contact/man.png">
      </div>
  </div>
</div>
<div class="contact-q">
  
  <div class="c-contaner">
    <div class="c-line" >
      <p class="c-l hh">  Have questions?</p>
      <p class="c-l"> Have questions about the Club or events? We have answers!</p>
  </div>
  <div class="c-line f" >
    <img  class="contact-img" src="assets/contact/contact1.png">
    <div>
   <p class="c-l h" > Email Us</p>
   <p class="c-l "> robotixclub@nitrr.ac.in</p>
  </div>
  </div>
    <div class="c-line f" >
    <img  class="contact-img" src="assets/contact/contact3.png">
    <div>
   <p class="c-l h">Visit Us</p>
  <p class="c-l ">  National Institute of Technology, Raipur</p>
</div>
  </div>
  </div>
</div>


