
<div class="contact-head">
   
   <div class="contact-wave">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
    </svg>
  </div>
  <div class="contact-wave2">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
    </svg>
</div>

  <div class="contact-head-text">Contact Robotix Club</div>
</div>





<div class="contact-body">
 <div class="contact-contaner">

   <div class="c-form-center">
    <div class="c-form">
        <div class="form-head">Get in Touch</div>
        <p>Your Full Name</p>
  <p>
    <mat-form-field class="fill" appearance="fill">
      <mat-label>Enter your full Name</mat-label>
      <input matInput placeholder="Name">
    </mat-form-field>
  </p>
  <p>Your Email</p>
  <p>
    <mat-form-field class="fill" appearance="fill"> 
      <mat-label>Enter Your Email</mat-label>
      <input matInput placeholder="Email">
    </mat-form-field>
  </p>
  <p >Your Message</p>
  <p>
    <mat-form-field class="fill message" appearance="fill"> 
      <mat-label>Enter Your Message</mat-label>
      <input matInput placeholder="Message">
    </mat-form-field>
  </p>
  <div class="MESSAGE-bt ">SEND MESSAGE</div>
  
    </div>
    </div>
       <div class="c-img">
        <img  class="mainRobot" src="assets/contact/man.png">
      </div>
  </div>
</div>
<div class="contact-q">
  
  <div class="c-contaner">
    <div class="c-line" >
      <p class="c-l hh">  Have questions?</p>
      <p class="c-l"> Have questions about the Club or events? We have answers!</p>
  </div>
  <div class="c-line f" >
    <img  class="contact-img" src="assets/contact/contact1.png">
    <div>
   <p class="c-l h" > Email Us</p>
   <p class="c-l "> robotixclub@nitrr.ac.in</p>
  </div>
  </div>
    <div class="c-line f" >
    <img  class="contact-img" src="assets/contact/contact3.png">
    <div>
   <p class="c-l h">Visit Us</p>
  <p class="c-l ">  National Institute of Technology, Raipur</p>
</div>
  </div>
  </div>
</div>






<!-- <div class="footer">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M0,0V7.23C0,65.52,268.63,112.77,600,112.77S1200,65.52,1200,7.23V0Z" class="shape-fill"></path>
  </svg>
</div> -->