<div class="p-details">

 <div class="p-details-contaner">
    <div class="p-d-img-context">
        <img  class="p-d-img" src="assets/images/p-details.jpg">
    </div>

   <div class="p-d-context">
   <div class="p-d-title">Title</div>
     <div class="p-d-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti iure, at, sequi, qui eos repellendus minima odit fugit labore facilis commodi? Repudiandae consequuntur commodi possimus omnis libero sequi sapiente perspiciatis?</div>
   </div>

 </div>

 <div class="p-d-comments">
 <div class="comments">Sarah: <span>Sarah is an intelligent and dedicated individual. </span></div>
 <div class="comments">James:</div>
 <div class="comments">Emma:</div>
 </div>

</div>
