.login-bg{
    /* background-color: rgb(45, 31, 89); */
    width: 100vw;
    display: flex;
    flex-direction:row;
}
.log-body{
    margin: auto;
    margin-top: 2em;
    min-width: 400px;
    /* background-color: #31377d; */
    background-color:#304391c3;
    padding: 4rem;
}
.log-head{
    color: azure;
    font-size: 2em;
    margin-bottom: 1em;
}
.log-bt{
    color: #31377d;
    font-size: 1.3em;
    background-color: white;
}