<div id="event">
    <img src="../assets/images/arduinoLogo.png" alt="" class="avatar-1">
    <img src="../assets/images/cate.png" alt="" class="avatar-1">
    <img src="../assets/images/pi.png" alt="" class="avatar-1">
    <img src="../assets/images/arduino2.png" alt="" class="avatar-1">
    <img src="../assets/images/p-details.jpg" alt="" class="avatar-1">

    <section class="section-main">

        <header>
            <div class="header-img">
                <a href=""><img src="../assets/images/robotixLogo.png" alt=""></a>
            </div>
        </header>

        <div class="section-content">
            <h1 class="section-title">WORKSHOP ON IOT</h1>
            <p class="section-text">lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
            <a href="#" class="section-link">FILL THE FORM</a>
            <div class="section-social">
                <img src="https://imgs.search.brave.com/CPW-dXqNcrUdqeRZWheTqRaaKRNoPjvyq1dTF6KrAR0/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9mcmVl/bG9nb3BuZy5jb20v/aW1hZ2VzL2FsbF9p/bWcvMTY1ODU4NzMw/M2luc3RhZ3JhbS1w/bmcucG5n" alt="">
                <span>Follow us on instagram</span>
            </div>
        </div>


    </section>
    
</div>
