<div id="event">
    <div class="title"><h1>Events</h1></div>
    <div class="artboard">

    <div class="card">
   
     <div class="card__side card__side--back">
      <div class="card__cover" id="ei-1">
       <h4 class="card__heading">
        <span class="card__heading-span">Details</span>
       </h4>
      </div>
      <div class="card__details">
       <div class="details">
        <p>
          At ROBOTiX Club , NIT Raipur, we envision a future where robots seamlessly interact with the world. This workshop is your gateway to the cutting-edge realm of obstacle-avoiding robots, empowering you to shape the future.

       </p>
       <a href="https://docs.google.com/forms/d/e/1FAIpQLScWusiYVL-XSdcxsDJTvR2kXHN-Y23Nx9z3LUTN-7hHfdR6Kg/viewform?usp=sf_link"><div class="form-btn">form</div></a>
       
    </div>
   
      </div>
     </div>
   
     <div class="card__side card__side--front" id="ei-1">
      <div class="card__theme" >
       <div class="card__theme-box">
        <p class="card__subject">WorkShop On</p>
        <p class="card__title">Obstacle Avoiding Robot</p>
       </div>
      </div>
     </div>
   
    </div>

     
     
   <!--   card 2 -->
   
    
     <div class="artboard">
    <div class="card">
   
     <div class="card__side card__side--back">
      <div class="card__cover">
       <h4 class="card__heading">
        <span class="card__heading-span">Details</span>
       </h4>
      </div>
      <div class="card__details">
       <p> comming soon</p>
      </div>
     </div>
   
     <div class="card__side card__side--front">
      <div class="card__theme">
       <div class="card__theme-box">
        <p class="card__subject">NEXT EVENT</p>
        <p class="card__title">comming soon</p>
       </div>
      </div>
     </div>
   
    </div>
      
      
   <!--    card 3 -->
<!--       
      <div class="artboard">
    <div class="card">
   
     <div class="card__side card__side--back">
      <div class="card__cover">
       <h4 class="card__heading">
        <span class="card__heading-span">Details</span>
       </h4>
      </div>
      <div class="card__details">
       <p>workshop on iot wagra wagra kdfsldfjsd;lfkjl</p>
      </div>
     </div>
   
     <div class="card__side card__side--front">
      <div class="card__theme">
       <div class="card__theme-box">
        <p class="card__subject">Web Developer</p>
        <p class="card__title">Hello World!</p>
       </div>
      </div>
     </div>
   
    </div> -->
     
     
     
   </div>
   </div>