<div id="event">
    <div class="title"><h1>Events</h1></div>
    <div class="artboard">

      <a href="#">
    <div class="card">
   
     <div class="card__side card__side--back">
      <div class="card__cover" id="ei-1">
       <h4 class="card__heading">
        <span class="card__heading-span">Details</span>
       </h4>
      </div>
      <div class="card__details">
       <div class="details">
        <p>
            workshop on iot wagra wagra kdfsldfjsd;lfkjl
            workshop on iot wagra wagra kdfsldfjsd;lfkjl
            workshop on iot wagra wagra kdfsldfjsd;lfkjl
            workshop on iot wagra wagra kdfsldfjsd;lfkjl
            workshop on iot wagra wagra kdfsldfjsd;lfkjl
            workshop on iot wagra wagra kdfsldfjsd;lfkjl

       </p>
    </div>
   
      </div>
     </div>
   
     <div class="card__side card__side--front" id="ei-1">
      <div class="card__theme" >
       <div class="card__theme-box">
        <p class="card__subject">WorkShop On</p>
        <p class="card__title">AI and ML</p>
       </div>
      </div>
     </div>
   
    </div>
  </a>
     
     
   <!--   card 2 -->
   
    
     <div class="artboard">
    <div class="card">
   
     <div class="card__side card__side--back">
      <div class="card__cover">
       <h4 class="card__heading">
        <span class="card__heading-span">Details</span>
       </h4>
      </div>
      <div class="card__details">
       <p>workshop on iot wagra wagra kdfsldfjsd;lfkjl</p>
      </div>
     </div>
   
     <div class="card__side card__side--front">
      <div class="card__theme">
       <div class="card__theme-box">
        <p class="card__subject">Web Developer</p>
        <p class="card__title">Hello World!</p>
       </div>
      </div>
     </div>
   
    </div>
      
      
   <!--    card 3 -->
<!--       
      <div class="artboard">
    <div class="card">
   
     <div class="card__side card__side--back">
      <div class="card__cover">
       <h4 class="card__heading">
        <span class="card__heading-span">Details</span>
       </h4>
      </div>
      <div class="card__details">
       <p>workshop on iot wagra wagra kdfsldfjsd;lfkjl</p>
      </div>
     </div>
   
     <div class="card__side card__side--front">
      <div class="card__theme">
       <div class="card__theme-box">
        <p class="card__subject">Web Developer</p>
        <p class="card__title">Hello World!</p>
       </div>
      </div>
     </div>
   
    </div> -->
     
     
     
   </div>
   </div>