/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 

    background-color: #000000;
    opacity: 1;
    background-image:  radial-gradient(#ffffff 1.05px, transparent 1.05px), radial-gradient(#ffffff 1.05px, #000000 1.05px);
    background-size: 42px 42px;
    background-position: 0 0,21px 21px;
}
