.ot-text {
    text-align: center;
    background: radial-gradient(
      circle,
      rgba(63, 94, 251, 1) 0%,
      rgba(252, 70, 107, 1) 100%
    );
  
    background-size: 200%;
    line-height: 1.5;
    font-weight: 600;
    font-size: 6rem;
    margin-top: 2rem;
    /* font-weight: bolder; */
    color: transparent;
    background-clip: text;
    animation: animation 1.7s linear infinite;
    font-family: 'Poppins', sans-serif;
  }
  .dot-1{
    height: 1px;
    position: relative;
  }
  .animation-1{
    position: absolute;
    animation: animation-11 55s linear infinite;
  }
  @keyframes animation-11 {
    0%{
        left: 0vw;
    }
    50% {
        left: 60vw;
    }
    100%{
        left: 0vw;
    }
  }
  .dot-2{
    height: 1px;
    position: relative;
  }
  .animation-2{
    position: absolute;
    animation: animation-22 40s linear infinite;
    top:-500px;
  }
  @keyframes animation-22 {
    0%{
        right: 0vw;
    }
    50% {
        right: 70vw;
    }
    100%{
        right: 0vw;
    }
  }
  @keyframes animation {
    to {
      background-position: 200% center;
    }
  }

  /* ============================ */
  .HOME{
    height: 100vh;
    overflow: hidden;
  }


.home{ 
    transform: translate(0,-600px);
    width: 100%;
    height: 55vh;
    font-family: '"Josefin Sans", san serif';
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
    
}
.home-contaner{
   /* background-color: rgba(255, 255, 255, 0);
   border-radius: 10px;
   -webkit-box-shadow: 10px 9px 18px 7px rgba(0,0,0,0.59);
   -moz-box-shadow: 10px 9px 18px 7px rgba(0,0,0,0.59);
   box-shadow: 10px 9px 18px 7px rgba(0,0,0,0.59); */
    width: 80vw;
    max-width: 1500px;
    padding: 2rem;
    display: flex;
    justify-content: center;
}
.home-context{
    margin-left: 2em;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.home-context h1{
    font-size: 70px;
    line-height: 86px;
    margin-bottom: 15px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 1000 !important;
}

.home-title{ 
    color: white;
    font-size: 4.5em;
    font-weight: 1000;
    margin-bottom: 0.5em;
}
.home-nit{
    color: aliceblue;
    font-size: 1.5em;
    font-weight: 400;
    font-family: '"Josefin Sans", san serif';
}
.social-icon a{
margin-left: 1em;
margin-right: 1em;
}
.mainRobot{

}
@media screen and (min-width: 1800px){
.home-context{
    margin-left: 6rem;
    margin-bottom: 7rem;}
}
@media screen and (max-width: 1200px){
    .home-title{ 
        font-size: 3em;  
    }
    .home-nit{
        font-size: 1.2em;
    }
}
@media screen and (max-width: 1000px){
    .home-contaner{
        width: 90vw;
        justify-content: space-around;
    }
    .home-title{ 
        font-size: 2.5em;
        font-weight: 800;
    }
    .home-nit{
        font-size: 1em;
    }
    .mainRobot{
     width: 20em ;
    }
}
@media screen and (max-width: 600px){
    .home{ 
    padding: 0;
    }
    .home-contaner{
        width: auto;
    flex-direction: column;
    margin-top: 3em;
    }
}
@media screen and (max-width: 500px){
    .mainRobot{
       display: none;
       }
       .home{ 
        transform: translate(0,-220px);}
        .dot-2{
            display: none;
        }
        .dot-1{
            display: none;
        }
}




/* =========================svg-bg======= */
.Home-svg{
    background-image: url(../../assets/images/account-bg.jpg);
    background-size: cover;
    height: 800px;
   transform: translate(0,-60px);
}

.svg-top {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    /* overflow: hidden; */
    line-height: 0;
    transform: translate(0,-0px);
    height: 100px;
}

.svg-top svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 300px;
}

.svg-top .shape-fill {
    fill: #ffffff65;
    /* fill: #202342 ;  */
    
}
.svg-home {
    position: relative;
    bottom: 0px;
    left: 0;
    width: 100%;
    /* overflow: hidden; */
    line-height: 0;
    transform: rotate(180deg);
    height: 100px;
}

.svg-home svg {
    position: relative;
    display: block;
    width: calc(152% + 1.3px);
    height: 1200px;
    transform: translate(0,0px); 
}

.svg-home .shape-fill {
    /* fill: #ffffffe0; */
    fill: #202342 ; 
    
}
.svg-home2 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 0;
    transform: rotate(180deg);
    height: 605px;
    transform: rotateY(180deg);
}

.svg-home2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 650px;
    transform: translate(0,-145px);
}

.svg-home2 .shape-fill {
    fill: #20234200 ; 
     /* fill: #ffffff43; */
}

@media screen and (max-width: 850px){
    .svg-top {
        transform: translate(0,0px);
    }
    .svg-home2 svg {
        transform: translate(0,0px);
    }
    .svg-home svg {
        transform: translate(0,0px);
    }
}
@media screen and (max-width: 500px){
    .Home-svg{
       height:500px;
    }
    .svg-home svg {
        height: 300px;
        transform: translate(0,304px);
    }
    .home{
    transform: translate(0,-300px);
    }
}


/* =========================svg-bg for about======= */
.svg-home-arrow {
    position: relative;
    bottom: -5px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.svg-home2-arrow svg {
    position: relative;
    display: block;
    width: calc(180% + 1.3px);
    height: 309px;
}

.svg-home_arrow .shape-fill {
    fill: #31377D;
}


@media screen and (max-width: 1000px){
    .svg-home2 svg {
       
        width: calc(180% + 1.3px);
        height: 186px;
    }
}
    @media screen and (max-width: 850px){
    .svg-home {
        top: 0; 
    }

}
@media screen and (max-width: 500px){

   .svg-home2{

   }
}


/* ================================================================ */
