.ot-text {
    text-align: center;
    background: radial-gradient(
      circle,
      rgba(63, 94, 251, 1) 0%,
      rgba(252, 70, 107, 1) 100%
    );
  
    background-size: 200%;
    line-height: 1.5;
    font-size: 4rem;
    margin-top: 2rem;
    font-weight: bolder;
    color: transparent;
    background-clip: text;
    animation: animation 1.7s linear infinite;
  }
  
  @keyframes animation {
    to {
      background-position: 200% center;
    }
  }

  /* ============================ */



.home{ 
    /* transform: translate(0,-100px); */
    width: 100%;
    /* background: #31377d; */
    font-Family: '"Josefin Sans", san serif';
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
    
}
.home-contaner{
   background-color: rgba(255, 255, 255, 0.229);
   border-radius: 30px;
   box-shadow: 10px 13px 6px 3px #313131bf;
    width: 80vw;
    max-width: 1500px;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}
.home-context{
    margin-left: 2em;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.home-title{ 
    color: white;
    font-size: 4.5em;
    font-weight: 800;
    margin-bottom: 0.5em;
}
.home-nit{
    color: aliceblue;
    font-size: 1.5em;
    font-weight: 400;
    font-Family: '"Josefin Sans", san serif';
}
.mainRobot{

}
@media screen and (min-width: 1800px){
.home-context{
    margin-left: 6rem;
    margin-bottom: 7rem;}
}
@media screen and (max-width: 1200px){
    .home-title{ 
        font-size: 3em;  
    }
    .home-nit{
        font-size: 1.2em;
    }
}
@media screen and (max-width: 1000px){
    .home-contaner{
        width: 90vw;
        justify-content: space-around;
    }
    .home-title{ 
        font-size: 2.5em;
        font-weight: 800;
    }
    .home-nit{
        font-size: 1em;
    }
    .mainRobot{
     width: 20em ;
    }
}
@media screen and (max-width: 600px){
    .home{ 
    padding: 0;
    }
    .home-contaner{
        width: auto;
    flex-direction: column;
    margin-top: 3em;
    }
}
@media screen and (max-width: 400px){
    .mainRobot{
       display: none;
       }
}




/* =========================svg-bg======= */
.Home-svg{
    background-image: url(../../assets/images/account-bg.jpg);
    height: 400px;
}
.svg-top {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: translate(0,-43px);
    height: 100px;
}

.svg-top svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.svg-top .shape-fill {
    fill: #ffffff65;
    /* fill: #202342 ;  */
    
}
.svg-home {
    position: relative;
    bottom: 0px;
    left: 0;
    width: 100%;
    /* overflow: hidden; */
    line-height: 0;
    transform: rotate(180deg);
    height: 1px;
}

.svg-home svg {
    position: relative;
    display: block;
    width: calc(152% + 1.3px);
    height: 300px;
    transform: translate(0,-1px); 
}

.svg-home .shape-fill {
    /* fill: #ffffffe0; */
    fill: #202342 ; 
    
}
.svg-home2 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    /* overflow: hidden; */
    line-height: 0;
    transform: rotate(180deg);
    height: 255px;
}

.svg-home2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 350px;
    /* transform: translate(0,194px); */
}

.svg-home2 .shape-fill {
    fill: #20234282 ; 
     /* fill: #ffffff43; */
}



/* =========================svg-bg for about======= */
.svg-home-arrow {
    position: relative;
    bottom: -5px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.svg-home2-arrow svg {
    position: relative;
    display: block;
    width: calc(180% + 1.3px);
    height: 309px;
}

.svg-home_arrow .shape-fill {
    fill: #31377D;
}


@media screen and (max-width: 1000px){
    .svg-home2 svg {
       
        width: calc(180% + 1.3px);
        height: 186px;
    }
}
    @media screen and (max-width: 850px){
    .svg-home {
        top: 0; 
    }

}
@media screen and (max-width: 500px){
   .svg-home2{
    display: none;
   }
}


/* ================================================================ */
