.ot-text {
    text-align: center;
    background: radial-gradient(
      circle,
      rgb(41, 134, 210) 0%,
      rgb(249, 128, 68) 50%,
      rgb(219, 43, 178) 100%
    );
  
    background-size: 200%;
    line-height: 1.5;
    font-weight: 600;
    font-size: 6rem;
    margin-top: 2rem;
    color: transparent;
    background-clip: text;
    animation: animation 1.7s linear infinite;
    font-family: 'Poppins', sans-serif;
  }
  .X2{
    color: #ffffff;
    font: 1em sans-serif;
    position: relative;
    left: -50px;
    top:-4px;
    width: 1px;
  }
  .X{
    font-size: 1.2em;
    width: 1px;
  }
  .dot-1{
    height: 1px;
    position: relative;
  }
  .animation-1{
    position: absolute;
    animation: animation-11 55s linear infinite;
  }
  @keyframes animation-11 {
    0%{
        left: 0vw;
    }
    50% {
        left: 60vw;
    }
    100%{
        left: 0vw;
    }
  }
  .dot-2{
    height: 1px;
    position: relative;
  }
  .animation-2{
    position: absolute;
    animation: animation-22 40s linear infinite;
    top:-500px;
  }
  @keyframes animation-22 {
    0%{
        right: 0vw;
    }
    50% {
        right: 70vw;
    }
    100%{
        right: 0vw;
    }
  }
  @keyframes animation {
    to {
      background-position: 200% center;
    }
  }

.gear-c{
  height: 10px;
  transform: translate(-50vw,100px);
  display: none;
}
  .gear{
    height:1000px ;
    width: 1000px;
    
  }
  @media screen and (max-width: 500px){
    .gear-c{
      display: none;
    }
  }
  
  
  /* ============================ */
  .HOME{height: 100vh;
    overflow: hidden;
  }
  #net{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
  }

.home{ 
    width: 100%;
    height: 100vh;
    font-family: '"Josefin Sans", san serif';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}
.home-contaner{
   
    width: 80vw;
    max-width: 1500px;
    padding: 2rem;
    display: flex;
    /* justify-content: center; */
}
.home-context{
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.home-context h1{
    font-size: 4em;
    line-height: 86px;
    margin-bottom: 15px;
    font-family: Poppins, Helvet;
    font-weight: 500 ;
}

.home-title{ 
    color: white;
    font-size: 4.5em;
    font-weight: 1000;
    margin-bottom: 0.5em;
    
}
.home-nit{
    color: aliceblue;
    font-size: 1.5em;
    font-weight: 400;
    font-family: '"Josefin Sans", san serif';
}
.social-icon a{
margin-left: 1em;
margin-right: 1em;
}
.ScrollDown{
  position: relative;
  top:10%;
  color: aliceblue;
  font-size: 1.4em;
  font-weight: 400;
  font-family: '"Josefin Sans", san serif';
}
.mainRobot{
display: none;
}
@media screen and (min-width: 1800px){
.home-context{
    margin-left: 6rem;
    margin-bottom: 7rem;}
}
@media screen and (max-width: 1200px){
    .home-title{ 
        font-size: 3em;  
    }
    .home-nit{
        font-size: 1.2em;
    }
}
@media screen and (max-width: 1000px){
    .home-contaner{
        width: 90vw;
        justify-content: space-around;
    }
    .home-title{ 
        font-size: 2.5em;
        font-weight: 800;
    }
    .home-nit{
        font-size: 1em;
    }
    .mainRobot{
     width: 20em ;
    }
}
@media screen and (max-width: 740px){
    .home{ 
    padding: 0;
    }
    .home-contaner{
        width: auto;
        
    flex-direction: column;
    margin-top: 3em;
    }
    .home-context h1{
      font-size: 3.5em;
    }
}
@media screen and (max-width: 500px){
    .HOME{
        overflow: hidden;
      }
    
       .home-title{ 
        font-size: 1em;
       
    }
    .home-context h1{
      font-size: 3em;
    }

      
}




/* =========================svg-bg======= */
/* .Home-svg{
    background-image: url(../../assets/images/account-bg.jpg);
    background-size: cover;
    height: 800px;
   transform: translate(0,-60px);
}

.svg-top {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
   
    line-height: 0;
    transform: translate(0,-0px);
    height: 100px;
}

.svg-top svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 300px;
}

.svg-top .shape-fill {
    fill: #ffffff65;
    
}
.svg-home {
    position: relative;
    bottom: 0px;
    left: 0;
    width: 100%;
    line-height: 0;
    transform: rotate(180deg);
    height: 100px;
}

.svg-home svg {
    position: relative;
    display: block;
    width: calc(152% + 1.3px);
    height: 1200px;
    transform: translate(0,0px); 
}

.svg-home .shape-fill {
    fill: #202342 ; 
    
}
.svg-home2 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 0;
    transform: rotate(180deg);
    height: 605px;
    transform: rotateY(180deg);
}

.svg-home2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 650px;
    transform: translate(0,-145px);
}

.svg-home2 .shape-fill {
    fill: #20234200 ; 
}

@media screen and (max-width: 850px){
    .svg-top {
        transform: translate(0,0px);
    }
    .svg-home2 svg {
        transform: translate(0,0px);
    }
    .svg-home svg {
        transform: translate(0,0px);
    }
}
@media screen and (max-width: 500px){
    .Home-svg{
       height:500px;
    }
    .svg-home svg {
        height: 300px;
        transform: translate(0,304px);
    }
    .home-title{
      font-size:2em;
    }
    .home{
    transform: translate(0,-300px);
    }
} */


/* ================================================================ */

  .btn-outline { 
    margin-top: 15px; 
    border: solid 1px #bbbbbb;    
    font-size: 24px; 
    color: #bbbbbb; 
    background: 0 0; 
    transition: all .3s ease-in-out; 
   }
   .btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active { 
     border: solid 1px #bbbbbb;    
     color: #000; 
     background: #bbbbbb; 
   }
   
   .btn-social { 
     display: inline-block; 
     width: 48px; 
     height: 48px; 
     border: 1px solid #bbbbbb; 
     border-radius: 100%; 
     text-align: center; 
     font-size: 24px; 
     line-height: 46px; 
   }
   
   
   
   .list-inline { 
     padding-left: 0; 
     list-style: none; 
     margin-left: -5px; }
   
   .list-inline > li { 
     display: inline-block;  
     padding-left: 5px; 
     padding-right: 5px; 
   }
   
   .social-links { 
     -webkit-animation: fade-in-down 0.9s; 
     animation: fade-in-down 0.9s; 
     -webkit-animation-delay: 0.2s; 
     animation-delay: 0.2s; 
   }
   
   /* Animations */
   @-webkit-keyframes fade-in-down { 0% 
     { opacity: 0; -webkit-transform: translateY(-10px); transform: translateY(-10px); 
     }
     100% { 
       opacity: 1; 
       -webkit-transform: translateY(0); 
       transform: translateY(0); } }
   @keyframes fade-in-down { 
     0% { opacity: 0; 
       -webkit-transform: translateY(-10px); 
       transform: translateY(-10px); 
     }
     100% { opacity: 1; 
       -webkit-transform: translateY(0); 
       transform: translateY(0); 
     } 
   }
   #ica{
  color: #ffffff;
  font-size: 37px;
   }
   #ica:hover{
    color:#000;
   }