
<!-- <button (click)="show()">toaster test</button> -->
<div  id="tohome" class="HOME">
<!-- <div class="Home-svg">
  <div class="svg-top">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
</div>
<div class="dot-1">
 <img class="animation-1" src="assets/images/dot-big.png" alt="">
</div>
<div class="svg-home2">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
    <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
</svg>
</div>
<div class="svg-home">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
    <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
  </svg>
</div>
<div class="dot-2">
  <img class="animation-2" src="assets/images/dot-big.png" alt="">
 </div>

</div> -->
<div class="home" id="net">
    <div class="home-contaner">
        <div class="home-context">
        <h1 class="home-title"> ROBOTI<span class="X ot-text" >X</span><span class="X2" >X</span>CLUB</h1>
          <p class="home-nit" >National Institute of Technology, Raipur</p>
         
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center ">
                <ul class="list-inline social-links">
                  <li><a href="https://github.com/#" class="btn-social btn-outline" data-toggle="tooltip" data-placement="top" title="Github"><link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"><i class="fa fa-instagram ica"style=" font-size: 37px; text-shadow: none; box-sizing: content-box; line-height: 50px; text-align: center; display: initial; overflow: hidden;"></i></a>
                  </li>
                  <li><a href="https://twitter.com/#" class="btn-social btn-outline" title="Twitter"><link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"><i class="fa fa-github ica" style=" font-size: 40px; box-sizing: content-box; line-height: 50px; text-align: center; display: initial; overflow: hidden;"></i></a>
                  </li>
                  <li><a href="https://ph.linkedin.com/in/#" class="btn-social btn-outline" title="LinkedIn"><link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"><i class="fa fa-facebook-square ica" style=" font-size: 35px; box-sizing: content-box; line-height: 50px; text-align: center; display: initial; overflow: hidden;"></i></a>
                  </li>
                  <li><a href="https://instagram.com/#" class="btn-social btn-outline" title="Instagram"><link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"><i class="fa fa-envelope ica" style="  font-size: 35px; box-sizing: content-box; line-height: 50px; text-align: center; display: initial; overflow: hidden;top:10px"></i></a>
                  </li>
                 
                </ul>
              </div>
            </div>
          </div>



        </div>
        <!-- <img  class="mainRobot" src="assets/images/mainRobot.png"> -->
    </div>
      
        <a (click)="onClickScroll('toabout')" class="ScrollDown">Scroll Down
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"><i class="fa fa-sort-desc" style="color: rgb(72, 168, 237); font-size: 73px; box-sizing: content-box; line-height: 64px; text-align: center; display: initial; overflow: hidden;"></i>
      </a>
</div>
</div>


<section id="toabout"><app-about></app-about></section>
<section id="toevent"><app-event></app-event></section>
<section id="tocontact"><app-contact></app-contact></section>











